body{
    background-color: rgb(253, 202, 249) !important;
    background: url('/public/images/bg_2.gif') center/cover no-repeat;
}
.btn-create {
  display: inline-block;
  margin-top:10px;
  margin-inline-start: 750px;
  background-color: rgb(144, 18, 148);
  color: #ffffff;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.btn-create:hover {
  background-color: rgb(108, 9, 117);   /* Darker blue */
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-create:active {
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
/* Update Button */
.link-update {
  color: #580770;
  font-weight: 500;
  padding: 5px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  margin-right: 5px;
  border-style: solid 5px;
  border-color: #0d9488;
}
.link-update:hover {
  background-color: #183481; /* Darker blue */
  color: white;
}

/* Delete Button */
.link-delete {
  border-style: solid 5px;
  border-color: #5d0777;
  color:#580770;
  font-weight: 500;
  padding: 5px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}
.link-delete:hover {
  background-color: #961919; /* Darker red */
  color: white;
}